<div class="card-totalSavings
	w-full h-full
	flex flex-col justify-between
	px-6 py-3
">
	<div class="card-totalSavings-header w-full flex gap-4 justify-center items-center">
		<div class="card-totalSavings_Icon w-[40px] h-[40px]">
			<img  src="assets/img/icons/icon_total-savings.png" alt="icon-savings">
		</div>
		<h1 class="card-totalSavings_title text-[1.250rem]">Total de Ahorros</h1>
	</div>
	<div class="card-totalSavings_value w-full text-[1rem] text-center">
		2.000,00
	</div>
	<div class="card-totalSavings_buttons flex w-full justify-evenly">
		<button class="text-[.8rem] px-4 py-1 text-[#fff] bg-blue-700">Ahorrar</button>
		<button class="text-[.8rem] px-4 py-1 text-[#fff] bg-yellow-500">Retirar</button>
	</div>
</div>