<div class="card-totalSavings 
	w-full h-full
	flex flex-col justify-between
	px-6 py-3
">
	<div class="card-totalSavings-header w-full flex gap-4 justify-center items-center">
		<div class="card-totalSavings_Icon w-[40px] h-[40px]">
			<img  src="assets/img/icons/icon_total-savings.png" alt="icon-savings">
		</div>
		<h1 class="card-totalSavings_title text-[1.250rem]">Total de Ahorros</h1>
	</div>
	<div class="card-totalSavings_value w-full text-[1.2rem] text-center">
		2.000,00
	</div>
<div class="card-totalSavings_buttons flex w-full justify-evenly gap-6 m-1">
  <button class="min-w-[100px] text-[.8rem] px-4 py-1 text-white bg-blue-700 rounded-sm
    transition-transform duration-150 ease-in-out transform hover:scale-105 focus:scale-105">
    Ahorrar
  </button>

  <button class="min-w-[100px] text-[.8rem] px-4 py-1 text-white bg-yellow-400 rounded-sm
    transition-transform duration-150 ease-in-out transform hover:scale-105 focus:scale-105">
    Retirar
  </button>
</div>

</div>