<div class="container-myState w-full h-full
	flex flex-col justify-between
	px-8
	py-8
">
	<div class="container-myState_header">
		<h1 class="text-[1.5rem]">Mi Estado</h1>
	</div>
	<div class="container-myState_pieChart">
		<div class="w-full h-[300px]">
			<app-pie-chart></app-pie-chart>
		</div>
	</div>
	<div class="container-myState_buttons w-full flex justify-center gap-5">
		<button class="w-[30%] text-[#fff] py-2 bg-green-500">＋ Nuevo Ingreso</button>
		<button class="w-[30%] text-[#fff] py-2 bg-red-500">– Nuevo Gasto</button>
	</div>
</div>